body{
    margin: 0;
}
.first-page,
.footer{
    background-color: #1f2937;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    
}
#logo{
    color: #f9faf8;
    font-size: 24px;
    margin-left: 200px;
}
.header-links{
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 18px;
    color: #e5e7eb;
}
.right-header{
    margin-right: 80px;
}
.Landing-page{
    display: flex;
    justify-content: space-around;
    height: 400px;
    align-items: center;
}
.Landing-left{
    margin-left: 100px;
}
#Main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    width: 480px;
}
#secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    width: 480px;
}
.Landing-right{
    background-color: grey;
    color: white;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-page{
    margin-top: 50px;
    text-align: center;
}
.infoheader{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}
.windows{
    display:flex;
    justify-content: center;
    gap: 20px;
}
.illustration {
    max-width: 200px;
}
.box{
    width: 150px;
    height: 150px;
    display: flex;
}
.quote-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #e5e7eb
}
.quote{
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin: 100px 200px 0px;
}
#signature{
    display: flex;
    align-self: flex-end;
    font-weight: 900;
    margin-right:  200px;
    justify-items: flex-end
}
.ps {
    display: flex;
    justify-content: end;
    align-items: start;
    margin: 50px
}
.modal-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.modal{
    width: 800px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    gap: 16px;
    padding: 16px;
    margin: 80px 0px;
    background-color: royalblue;
    color: whitesmoke;
    justify-content: space-around;
}
.right-modal{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    height: 78px;
}
.button2{
    border: 3px solid whitesmoke;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    background-color: royalblue;
}
#action {
    font-weight: 900;
}

ul{
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
    font-size:  18px;
    color: #e5e7eb;
}
#sign-up1{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;

}
button{
    border-radius: 8px;
    padding: 8px 16px;
}

